force-app/main/default/flows/auto_launched_flow_to_fire_platform_event_on_order_event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>assign_oppt_record_in_order_event</name>
        <label>assign oppt record in order event</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>order_event_record.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Opportunity.Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order_event_record.Opportunity_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order_event_record.Account_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_order_record</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>auto launched flow to fire platform event on order event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>auto launched flow to fire platform event on order event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_order_record</name>
        <label>create order record</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <inputReference>order_event_record</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Opportunity</name>
        <label>get Opportunity</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_oppt_record_in_order_event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>order_event_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>order_event__e</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
